<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip.install" />
  <package id="chocolateygui" />
  <package id="docker-desktop" />
  <package id="gpg4win" />
  <package id="jetbrainstoolbox" />
  <package id="mkcert" />
  <package id="slack" />
  <package id="vscode" />
  <package id="zoom" />
</packages>
